@media (min-width:1366px)
{
	#wrapper
	{
		margin:0 auto;
		width:1280px;
		padding-bottom:10px;
	}

	#userbar
	{
		box-sizing:border-box;
		display:block;
		float:left;
		padding-right:20px;
		width:28.57%;
	}

	#suggestions
	{
		box-sizing:border-box;
		display:block;
		float:left;
		padding:0px;
		width:28.57%;
	}

	#maincontent
	{
		box-sizing:border-box;
		display:block;
		float:left;
		padding-right:20px;
		width:42.86%;
	}
}

@media (max-width:1365px)
{
	#wrapper
	{
		margin:0 auto;
		max-width:1024px;
		padding-bottom:10px;
	}

	#userbar
	{
		box-sizing:border-box;
		display:block;
		float:left;
		padding-right:20px;
		width:33.34%;
	}

	#suggestions
	{
		box-sizing:border-box;
		display:block;
		float:left;
		clear:left;
		padding:0px;
		padding-top:10px;
		padding-left:33.34%;
		width:100%;
	}

	#maincontent
	{
		box-sizing:border-box;
		display:block;
		float:left;
		width:66.66%;
	}
}

@media (max-width:800px)
{
	#wrapper
	{
		margin:0 auto;
		max-width:800px;
		min-width:484px;
		padding:0px;
		padding-bottom:10px;
	}

	#userbar
	{
		box-sizing:border-box;
		display:block;
		float:left;
		width:100%;
		padding:0px;
	}

	#suggestions
	{
		box-sizing:border-box;
		display:block;
		float:left;
		clear:left;
		padding:0px;
		padding-top:10px;
		width:100%;
	}

	#maincontent
	{
		box-sizing:border-box;
		display:block;
		float:left;
		clear:left;
		width:100%;
		padding:0px;
		padding-top:10px;
	}
}


*
{
	font-size:14px;
}

p#prompt
{
	display:block;
	text-align:center;
	width:100%;
	position:absolute;
	top:200px;
	font-family:Arial, sans-serif;
	font-size:30px;
}

input#txtUsername
{
	display: block;
	width: 500px;
	height:60px;
	font-size:2em;
	padding: 10px 20px;
	border: 1px solid black;
	border-radius: 5px 0 0 5px;
	box-sizing: border-box;
	position:absolute;
	top:300px;
	left:232px;
}

button#btnUsername
{
	width: 60px;
    height:60px;
    background-color: #3366ff;
	background-image:url(btnUsername.svg);
	margin:0;
	padding:0;
    color: white;
    border: 1px solid black;
	border-left:none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
	position:absolute;
	top:300px;
	left:732px;
}

button#btnUsername:hover
{
	background-color:#5588ff;
}

button#btnUsername:active
{
	background-color:#2244ee;
}

div#error
{
	width:100%;
	text-align:center;
	font-size:1.5em;
	font-weight:bold;
	position:absolute;
	top:380px;
}

#postcaption button
{
	float:right;
	margin:0 5px;
}

#postcaption button#btnDelete
{
	display:block;
	width:24px;
	height:24px;
	float:right;
	margin:0px;
	padding:0px;
	position:relative;
	background-image:url(btnx.svg);
}

#postcaption button#btnLike
{
	display:block;
	width:24px;
	height:24px;
	float:right;
	margin:0px;
	padding:0px;
	position:relative;
	background-image:url(btnlike.svg);
}

#postcaption button#btnUnlike
{
	display:block;
	width:24px;
	height:24px;
	float:right;
	margin:0px;
	padding:0px;
	position:relative;
	background-image:url(btnunlike.svg);
}

body.lookatme
{
	background:#f6f9fc;
	padding:40px 10px 20px;
	margin-top:10px;
}

body.toppleblox
{
	background:#000;
}

#topbar
{
	width:100vw;
	height:40px;
	display:block;
	position:fixed;
	top:0px;
	left:0px;
	background:#000;
	z-index:10000;
}

h1
{
	display:block;
	height:40px;
	color:#fff;
	font-family:Verdana, sans-serif;
	font-size:20px;
	padding:0 0 0 100%;
	margin:0px;
	overflow:hidden;
	background-image:url(logo.svg);
	background-position:0px 0px;
	background-repeat:no-repeat;
}

#wrapper:after
{
	content:"";
	display:table;
	clear:both;
}

#userlist
{
	list-style-type:none;
	padding:20px;
	margin:0px;
}

#userlist li
{
	padding-left:10px;
	line-height:2em;
	border-bottom:1px solid #666;
}

#suggestbox
{
	background:#fff;
	border-radius:10px;
	border:1px solid #c1c8cd;
	margin:0px;
}

#suggestbox p
{
	padding:20px;
	margin:0px;
}

#post
{
	background:#fff;
	border-radius:10px;
	border:1px solid #c1c8cd;
}

#post p.postcount
{
	font-size:20px;
	margin:10px 0 0 20px;
	padding:0px;
	position:relative;
	top:10px;
}

#postcontent p
{
	font-size:larger;
	padding:20px;
	margin:0px;
}

#postcontent p.summary
{
	border-top:1px solid #c1c8cd;
	margin-top:20px;
	padding-bottom:0px;
}

p.more
{
	margin:0 20px 20px 30px;
}

#postcaption
{
	border-bottom:1px solid #c1c8cd;
	padding:20px;
	font-size:large;
}

#postcaption .confirmation
{
	font-size:16px;
}

#postlist
{
	list-style-type:none;
	margin:0px;
	padding:0px;
	max-width:100%;
}

#postlist li:after
{
	content:"";
	display:block;
	clear:both;
}

#postlist li a
{
	display:block;
	margin:0px;
	padding:0px;
	border-top:1px solid #c1c8cd;
	min-height:60px;
	position:relative;
	text-decoration:none;
	color:#000;
}

#suggestlist
{
	list-style-type:none;
	margin:0px;
	padding:0px;
	max-width:100%;
}

#suggestlist .posttext
{
	font-size:12px;
}

#suggestlist .timestamp
{
	font-size:12px;
}

#suggestlist li:after
{
	content:"";
	display:block;
	clear:both;
}

#suggestlist li a
{
	display:block;
	margin:0px;
	padding:0px;
	border-top:1px solid #c1c8cd;
	min-height:60px;
	position:relative;
	text-decoration:none;
	color:#000;
}

div.thumbnail
{
	display:block;
	width:80px;
	height:50px;
	margin:5px 10px 5px 10px;
	background-color:#9af;
	border:1px solid black;
	float:left;
}

.posttext
{
	float:left;
	line-height:60px;
	margin:0px;
	padding:0px;
}

.timestamp
{
	float:right;
	text-align:right;
	margin:15px 10px 0 0;
}

#usertools
{
	background:#fff;
	border-radius:10px;
	border:1px solid #c1c8cd;
	padding:20px;
}

#userhead:after
{
	content:"";
	display:table;
	clear:both;
}

#userhead img
{
	display:block;
	float:left;
	border:1px solid black;
	border-bottom:none;
	border-radius:5px 5px 0 0;
}

#userhead h2
{
	line-height:80px;
	margin:0px;
	padding:0px;
	font-family:Arial, sans-serif;
	text-align:center;
}

#usertools ul
{
	list-style-type:none;
	margin:0px;
	padding:0px;
	max-width:100%;
	background-color:#eee;
}

#usertools li a
{
	display:block;
	border:1px solid black;
	border-bottom:none;
	max-height:40px;
	color:#000;
	font-family:Arial, sans-serif;
	font-size:20px;
	padding:10px;
	text-decoration:none;
	position:relative;
	z-index:0;
}

#usertools li a.last
{
	border-bottom:1px solid black;
	border-radius:0 0 5px 5px;
}
/*
#usertools a:hover
{
	background-color:#99f;
	transition:200ms linear;
}
*/
#usertools li a:before {
  content: "";
  position: absolute;
  z-index:-1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius:inherit;
  background: #99f;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .2s ease-out;
}

#usertools li a:hover:before
{
	transform: scaleX(1);
}